.Wildlife-distance{
	margin-top: 50px;
    margin-left: 130px;
    
}
.word{
    font-size: 13px;
}
.a{
    margin-top: 10px;
    margin-left: 130px;
}
.b{
    font-size: 15px;
    margin-top: 65px;
    margin-left: 1210px;
}
table{
    font-size: 13px;
    border:groove 1px;
    margin-top: 40px ;
    margin-left: 500px;
    width: 560px;
    height: 250px;
    
}
.c{
    font-size: 20px;

}