.Wildlife-distance{
	margin-top: 50px;
    margin-left: 130px;
    
}
.word{
    font-size: 13px;
}
.a{
    margin-top: 10px;
    margin-left: 130px;
}
.b{
    font-size: 15px;
    margin-top: 65px;
    margin-left: 1210px;
}
table{
    border: 1;
}