  main .park {
    width: 90%;
    margin: 0 auto;
  }
  main .park .park_title h3 {
    padding: 20px 0;
    font-size: 24px;
  }
  main .park .park_title p {
    color: #212529;
    line-height: 2;
  }
  main .park .park_list {
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
  }
  main .park .park_list .park_item {
    width: 32%;
  }
  main .park .park_list .park_item a {
    display: flex;
    flex-direction: column;
  }
  main .park .park_list .park_item a img {
    width: 100%;
  }
  main .park .park_list .park_item a .park_item_title {
    position: relative;
    color: #000000;
    padding: 20px 0;
    font-weight: 600;
    text-decoration: none;
  }
  main .park .park_list .park_item a .park_item_title::after {
    content: '';
    position: absolute;
    background: url('../icon/right.png') right no-repeat;
    background-size: contain;
    width: 32px;
    height: 32px;
    top: 16px;
  }
  main .park .park_list .park_item a p {
    color: #444;
    font-size: 12px;
  }
  main .park .park_list .park_item a:hover .park_item_title {
    color: #4b5e26;
  }
  main .park .park_list .park_item a:hover .park_item_title::after {
    background-image: url('../icon/right1.png');
  }
  main .park .park2_list {
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  main .park .park2_list .park2_item {
    width: 48%;
    margin-top: 36px;
  }
  main .park .park2_list .park2_item a {
    display: flex;
    flex-direction: column;
  }
  main .park .park2_list .park2_item a img {
    width: 100%;
  }
  main .park .park2_list .park2_item a .park2_item_title {
    position: relative;
    color: #000000;
    padding: 20px 0;
    font-weight: 600;
  }
  main .park .park2_list .park2_item a .park2_item_title::after {
    content: '';
    position: absolute;
    background: url('../icon/right.png') right no-repeat;
    background-size: contain;
    width: 32px;
    height: 32px;
    top: 16px;
  }
  main .park .park2_list .park2_item a p {
    color: #444;
    font-size: 12px;
  }
  main .park .park2_list .park2_item a:hover .park2_item_title {
    color: #4b5e26;
  }
  main .park .park2_list .park2_item a:hover .park2_item_title::after {
    background-image: url('../icon/right1.png');
  }